<a class="card" href="{{ post.link }}">

  {{ fn('timber_set_product', post) }}
  {% do action('woocommerce_before_shop_loop_item_title') %}

  <a href="{{ post.link }}">
    <figure class="card__image{% if not post.thumbnail %} is-placeholder{% endif %}">
    {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src|resize(shop_thumbnail_image_size) }}" />
      {% else %}
        {% include "base/icon.twig" with {name: "image"} %}
      {% endif %}
    </figure>
  </a>

  <div class="card__copy">
    {% do action('woocommerce_before_shop_loop_item_title') %}
    {% if post.title %}
      <h3 class="card__heading"><a href="{{ post.link }}">{{ post.title }}</a></h3>
    {% else %}
      <h3 class="card__heading"><a href="{{ post.link }}">{{ fn('the_title') }}</a></h3>
    {% endif %}
  </div>

  {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
  {% do action( 'woocommerce_after_shop_loop_item' ) %}
</a>
