<section class="modal fade" id="modal-{{ slug }}" tabindex="-1" aria-labelledby="modal-{{ slug }}-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal__box">
      {% if header %}<div class="modal__header">{% endif %}
        <h2 class="{% if title_class %}{{ title_class }}{% else %}modal__heading{% endif %}" id="modal-{{ slug }}-title">{{ title }}</h2>
        <button class="btn is-close is-video-item" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
          {% include "base/icon.twig" with {name: "x-mark"} %}
        </button>
      {% if header %}</div>{% endif %}

